<h1>Cages#index</h1>
<p>Find me in app/views/cages/index.html.erb</p>

<table>
  <thead>
    <tr>
      <th>Practice</th>
    </tr>
  </thead>

  <tbody>
    <% @cages.each do |cage| %>
      <tr>
        <td><%= cage.id %></td>
        <td><%= cage.contain %></td>
        <td><%= cage.power_status %></td>
      </tr>
    <% end %>
  </tobdy>
</table>
